* {
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 157, 224);
}

.container {
  max-width: 35rem;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 1rem 0px, rgba(0, 0, 0, 0.12) 0px 1rem 1rem 0px;
  border: 1px solid rgba(32, 33, 37, 0.12);
  border-radius: 1rem;
  margin: 5rem auto;
  padding: 1.5rem;
  line-height: 1.4;
}

h1 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: 600;
}

hr {
  color: lightgray;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}
form {
  width: 100%;
}

.input-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.input-field label {
  width: 12.5rem;
  color: rgba(32, 33, 37, 1);
  margin-right: 0.5rem;
}

.input-field input {
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
  max-width: 16rem;
}

.input-field input:focus {
  border: 1px solid rgb(0, 157, 224);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 0.75rem 0px,
  rgba(0, 0, 0, 0.12) 0px 0.75rem 0.75rem 0px;
}

.input-field input[type="date"] {
  margin-right: -3rem;
}

button {
  width: 100%;
  height: 3.375rem;
  padding: 0 1rem;
  border: medium none;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 0.75rem 0px,
    rgba(0, 0, 0, 0.12) 0px 0.75rem 0.75rem 0px;
  background-color:rgb(0, 157, 224);
  font-size: 1rem;
  font-weight: 700;
  color: white;
  cursor: pointer;
}


.delivery-price{
  display: flex;
  flex-direction: row;
  justify-content:space-between
}


/* Hide arrows from the input fields on Chrome and Firefox */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@media (max-width: 768px) {

  .input-field input{
    max-width: 10rem;
  }

  .input-field input[type="date"] {
    margin-right: -3rem;
  }
} 